.services:hover + .servicesSubMenu {
  display: block;
}

.servicesSubMenu:hover {
  display: block;
}

.servicesSubMenu {
  z-index: 1000;
  display: none;
}

.services {
  position: relative;
  display: none;
}