.services:hover + .servicesSubMenu {
  opacity: 1;
}

.servicesSubMenu:hover {
  opacity: 1;
  transition: max-height 1s linear;
}

.servicesSubMenu {
  z-index: 1000;
  opacity: 0;
  transition: opacity .3s linear;
}

.services {
  position: relative;
  display: none;
}